@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-section {
  background-color: hsl(217, 19%, 24%);
  border-radius: 0.5rem;
  width: 300px;
}

.divider {
  background-image: url("./assets/images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
}

@media screen and (min-width: 426px) {
  .divider {
    background-image: url("./assets/images/pattern-divider-desktop.svg");
  }
}
