@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-section {
  background-color: hsl(217, 19%, 24%);
  border-radius: 0.5rem;
  width: 90vw;
  padding: 3rem 1rem 0 1rem;
}

.divider {
  background-image: url("./assets/images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5rem;
  margin-top: 1.5rem;
}

.advice-number {
  text-align: center;
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  margin-bottom: 1.5rem;
  letter-spacing: 0.25em;
  font-size: 14px;
}

.advice-text {
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: hsl(193, 38%, 86%);
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 5px solid black;
  border-top: 6px solid black;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dice-button-container {
  display: flex;
  justify-content: center;
}

.dice-button {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  padding: 1rem;
  display: inline-flex;
  transform: translate(0, 50%);
  cursor: pointer;
}

@media screen and (min-width: 426px) {
  .divider {
    background-image: url("./assets/images/pattern-divider-desktop.svg");
  }
  .advice-section {
    width: 382.5px;
  }
}
